@model Assessment.DataAccess.Models.Project

@{
    ViewData["Title"] = "Details";
}


<div>
    <h2>Project Details</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlannedEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlannedEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActualEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd>
            @Html.ActionLink(Model.ContactName, "Details", "Employee", new { id = Model.EmployeeId})
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
